<nav class="navbar navbar-expand-lg navbar-primary bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-uppercase nav-link" style="font-size:25px;font-style:oblique;" routerLink="home" routerLinkActive="active" ><img id="logo" src="./assets/appicon.png"><b>TechQubes</b></a>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About Us</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link " routerLink="courses" routerLinkActive="active">Courses</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link " routerLink="contact" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
    </div>

    <div align="right">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button class="btn btn-primary" routerLink="signup" routerLinkActive="active" style="font-size:18px">Sign up</button>
        </li>&nbsp;&nbsp;
        
        <li class="nav-item">
          <button class="btn btn-primary" routerLink="signin" routerLinkActive="active" style="font-size:18px">Sign in</button>
        </li>
      </ul>
    </div>

  </div>
</nav>

  <router-outlet></router-outlet><br><br><br><br>

  <nav class="navbar navbar-expand-lg navbar-light fixed-bottom" style="background-color: rgb(176, 173, 173);">
    <div class="container-fluid" style="padding:20px 20px 20px 20px" >
      <ul class="navbar-nav mr-auto" style="font-size:16px">
        <li class="nav-item form-inline">
          <a href="tel:mob" class="nav-link"><img id="logo" src="./assets/phoneicon.png" height="20px">+91 8865987176</a>&nbsp;&nbsp;
          <a href="mailto:email"  class="nav-link"><img id="logo" src="./assets/mailicon.png" height="20px">tech-qubes@gmail.com</a>
        </li>
    
        <li class="nav-item form-inline">
          <p id="copy">© Copyright 2023. All Rights Reserved with TechQubes.<br> Designed & Developed by AMRITHA</p>
        </li>
      </ul>
    
      <b>Follow us</b>&nbsp;
      <a href="https://www.instagram.com/" target="_blank"><img id="logo" src="./assets/instalogo.png" height="30px" ></a>
      <a href="https://www.facebook.com/" target="_blank"><img id="logo" src="./assets/fblogo.png" height="30px"></a>
      <a href="https://twitter.com/i/flow/login" target="_blank"><img id="logo" src="./assets/twitterlogo.png" height="30px"></a>
    </div> 
  </nav>
  
  
  <!-- <div class="card text-center fixed-bottom">
    <div class="card-footer text-muted"> &copy;AMRITHA 
      <ul class="navbar-nav mr-auto" style="font-size:16px">
        <li class="nav-item form-inline">
          <a href="tel:mob" class="nav-link"><img src="./assets/phoneicon.png" height="20px">+91 8865987176</a>&nbsp;&nbsp;
          <a href="mailto:email"  class="nav-link"><img src="./assets/mailicon.png" height="20px">tech-qubes@gmail.com</a>
        </li>
        </ul>
    </div>
    </div> -->
    
    