ul{
    font-size: 20px;
    
}
#logo{
    height: 40px;
}
p{
    font-size: small;
    text-align: center;
    color: rgb(106, 100, 100);
}
#copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}